$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJklEQVQIW2M8dOiQpJ2d3XMGKADxGUFsmASMBgsiS4DY2FViMxMAp2QgxO1nvfMAAAAASUVORK5CYII=) repeat;
}
