<div class="row" >
  <div class="col-sm-4">
    <feed-widget ng-controller="ReaderCtrl" data-url="http://feeds.feedburner.com/ycombinator/fJpl" data-num="5"></feed-widget>
    <feed-widget ng-controller="ReaderCtrl" data-url="http://feeds.feedburner.com/SlickdealsnetFP" data-num="4"></feed-widget>
  </div>
  <div class="col-sm-4">
    <feed-widget ng-controller="ReaderCtrl" data-url="http://rss.cnn.com/rss/cnn_topstories.rss" data-num="3"></feed-widget>
    <feed-widget ng-controller="ReaderCtrl" data-url="http://feeds.fool.com/usmf/foolwatch" data-num="3"></feed-widget>
    <feed-widget ng-controller="ReaderCtrl" data-url="http://rss.cnn.com/rss/money_latest.rss" data-num="3"></feed-widget>
  </div>
  <div class="col-sm-4">
    <feed-widget ng-controller="ReaderCtrl" data-url="https://medium.com/feed/frontpage-picks" data-num="3"></feed-widget>
    <feed-widget ng-controller="ReaderCtrl" data-url="https://medium.com/feed/tech-talk" data-num="3"></feed-widget>
    <feed-widget ng-controller="ReaderCtrl" data-url="https://lobste.rs/rss" data-num="3"></feed-widget>
  </div>
</div>